@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
body {
  background: #d0d0d0;
}

.container {
  height: auto;
  width: 600px;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
  background: #007bff;
}

.container h1 {
  width: 100%;
  height: 30%;
  font-size: 3rem;
  margin: 0;
  padding-top: 20px;
  display: inline-block;
  background: white;
  border-radius: 10px 10px 0 0;
  color: black;
}

ul {
  font-size: 1.5rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  height: 130px;
  margin: 0;
  display: block;
}

a {
  box-sizing: border-box;
  padding-top: 40px;
  display: block;
  height: 100%;
  text-decoration: none;
  color: #f4f4f4;
}

li:hover {
  background-color: #0056b3;
}

input {
  color: white;
  outline: none;
  border: none;
  text-align: center;
  width: 100%;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  background: #007bff;
}

button {
  width: 100%;
  padding: 10px 0;
  margin: 0;
  background: #007bff;
  border: none;
  border-radius: 0 0 10px 10px;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

.lista_perguntas {
  height: auto;
  text-align: center;
  margin: auto;
  border-radius: 10px;
  background: #007bff;
}

#listaPerguntas ul {
  height: auto;
  font-size: larger;
  font-weight: bold;
  text-align: left;
}

#listaPerguntas li {
  height: auto;
  text-align: left;
  padding: 0;
  margin: 10px;
}

#listaRespostas li {
  height: auto;
  text-align: left;
  padding: 0;
  margin: 10px;
}

#listaRespostas ul {
  height: auto;
  font-size: larger;
  font-weight: bold;
  text-align: left;
}

#listaPerguntas li:hover {
  background: none;
}

#listaRespostas li:hover {
  background: none;
}
